html{
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
}

.nascosto, .salto ,#contenitoreCollezione > img, #cacciatore, #areaRicerca,
 #chiusuraLogin, #menuOrdinamentoCollezioni, #menuOrdinamento, #spazioDiRicerca,
  #saltaLogin, #header >a, #logo, #menu, #areaLoginRegistrazione, #footer,
   .bottoneSinistro, .bottoneDestro{
  display: none;
}

a:link:after, a:visited:after{
  content: " ["attr(href)"]";
}
.elementoGioielli > a:after, .elementoCollezione > a:after{
  content: "";
}
#body, #header, #breadcrumb{
  margin-left: 2em;
}
#breadcrumb > p{
  display: inline-block;
}
.defaultInputForm{
  color: gray;
}

.erroreInputForm{
  color: rgb(217, 5, 5);
  margin:auto;
}

.Esclusiva{
  border: 0.3em solid;
  border-color: #FFD700;
}

#menuGioielli > li:not(.active){
  background-color: whitesmoke;
}

#menuGioielli > li:not(.active) > a{
  text-decoration: none;
  color: black;
}
/*registrazione.html*/

#loginPage, #registrazionePage, #loginAdminPage, #Ins{
  float: left;
  margin: auto;
  max-width: 15em;
  margin-bottom: 2em;
}

#loginPage > fieldset > div > span, #registrazionePage > fieldset > div > span,
 #loginAdminPage > fieldset > div > span, #Ins > fieldset > div > span{
  display: block;
}

#registrazionePage > fieldset > div > label > textarea, #Ins > fieldset > div > label > textarea{
  width: 15em;
  height: 10em;
}

#Ins > form > fieldset > div{
  margin: 0.5em;
}

#Ins > form > fieldset > div > label > span {
  display: block;
}
/*gioiello*/
#immagineCaratteristiche{
  text-align: center;


}
#immagine{
  text-align: center;
  display: inline-block;
  margin: auto;
  vertical-align: middle;

}

#caratteristiche{
  vertical-align: middle;
  text-align: center;
  display: inline-block;

}
#caratteristiche >ul{
  list-style-type:none;
  text-align: left;
}


/*lista_gioielli*/

#menuGioielli{
  font: 0.9em;

  margin: 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: block;
}


.active{
  text-decoration: none;
  color: white;
  background-color: dimgray;
}

#menuGioielli > li{
  text-align:left;


}

#menuGioielli > li:not(.active){
  background-color: whitesmoke;
}

#menuGioielli > li:not(.active) > a{
  text-decoration: none;
  color: black;
}

#listaGioielli, #listaCollezioni{
    overflow: hidden;
    margin: auto;
    margin-top: 0;

    position: relative;

}

.elementoGioielli, .elementoCollezione{
  margin: 0.5em;
  display: inline-block;

}
.elementoGioielli > h2 , .elementoCollezione > h2{
  font-size: 0.9em;
}
.elementoGioielli > a > img, .elementoCollezione > a > img{
  width: 10em;
}

.elementoGioielli > div, .elementoCollezione > div{
  display: block;
}


.elementoNumeroGioiello{
  display: inline-block;
  margin: 0.3em;
  padding: 0.5em;
}

.elementoNumeroGioiello:not(.active){
  background-color: whitesmoke;
}

.elementoNumeroGioiello > a, .elementoNumeroGioiello > span{
  padding: 0.5em;
}


/*index*/
/*ContenitoreSlider*/
.slider{
  position: relative;
  display: block;
}
.sliderImmagine{
  padding: 0;
  width: 35%;
  height: 35%;
}

#indexCollezioni {
  display: inline-block;
}

#indexCollezioni > a > img, #indexGioielli > a > img{
  display: block;
  max-width: 13em;
  max-height: 13em;
}
#indexCollezioni > a:not(.salto), #indexGioielli > a:not(.salto){
  display: inline-block;
}


#indexCollezioni, #indexGioielli{
  text-align: center;
}

#indexCollezioni > ul > li{
  display: inline-block;
  margin: 1em;
}

/*lista_collezioni*/
#listaCollezioni{
  list-style-type: none;
}

/*gioiello*/
#collezione >li  > a > img, #parour > li > a > img, #tipologia > li > a > img, #materiale > li > a > img, #pietra > li > a > img{
  width:10em;
  height: 10em;
}

#collezione > li, #parour > li, #tipologia > li, #materiale > li, #pietra > li{
  display: inline-block;
  margin: 1em;
}

/*Sessione Dedicata*/
.container {
  padding: 0;
  margin: 1em 0em;
  overflow: hidden;
  text-align: center;
}

.dropdown {
  text-align: left;
  padding: 1em 0.1em;
  margin: 0em;
  display: inline-block;
}

.dropbtn {
  color: black;
  background-color: whitesmoke;
  border: 0.1em solid;
  border-color: black;
}

.dropdown-content {
  position: absolute;
  background-color: whitesmoke;
  min-width: 0.5em;
  box-shadow: 0em 1em 2em 0em rgba(0,0,0,0.2);
  border: 0.1em solid;
  border-color:  black;
  z-index: 2;
  overflow: hidden;
}

.dropdown-content > a {
  color: black;
  padding: 1em;
  text-decoration: none;
  display: block;
  text-align: left;
}

.show {
  display: block;
}

#listaElementi{
  list-style-type: none;
}


.elementoEliminazione{

margin: 0.3em;
  display: inline-block;
}

#divBottoni > button{

  display: block;


  margin: 1em 0;
}

#eliminaLabelButton, #submitModG, #resetModG, #submitModC, #resetModC, #eliminaD,
#eliminaM, #eliminaP, #eliminaU, #eliminaG{
  margin:0;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  border: 0.1em solid;
  color: white;
background-color: #1d2345;
}

.modificaGiol, .modificaColl{
  padding: 0.6em;
  text-decoration: none;
  border: 0.1em solid;

}
