/*Codice Comune*/
html, body{
  font-size: 0.9em;
  margin: auto;
  max-width: 1600px;
}

img:not(#logo){
  background-color: ghostwhite;
}
#areaFissata{
  background-color: whitesmoke;
}
/*Logo*/

#logo{
  padding:0;
}

#header > h1, .salto, .nascosto{
  padding:0;
  height: 0;
  position: absolute;
  text-indent: -999em;
  overflow: hidden;
}

/*Menu*/
#menu > ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

#menu > ul > li:first-child, #menu > ul > li:nth-child(2){
  padding: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
}

#menu > ul > li{
  text-align: center;
}

#menu > ul > li:not(.active) > a{
  text-decoration: none;
  color:black;
}

#menu > ul > li:hover:not(.superActive){
  background-color: dimgray;
}

#menu > ul > li:hover > a{
 color: white;
}

.superActive:hover, .superActive:hover > a{
  background-color: black;
}
/*Ricerca*/
#hRicerca,#ricerca{
  text-align: center;
}
#ricerca > li{
  list-style-type: none;
  padding: 1em;
}
#ricerca > li > a > img {
  width: 20em;
  height: 20em;
}
.EsclusivaRicerca > h2 > a, .EsclusivaRicerca > a > img{
  border:0.1em solid;
  border-color: #FFD700;

}
/*Login*/
#areaLoginRegistrazione{
  padding: 0;
  position: relative;
  text-align: center;
  overflow: hidden;
}

#login, #registrazione, #logout{
  display: inline-block;
}

#login > form > fieldset, #registrazione > form > fieldset, #logout > form > fieldset{
  border:0;
}

#bottoneRegistrazione{
  border: 0.1em solid;
}
#bottoneLogin, #bottoneRegistrazione{
  margin:0;
  width:100%;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
}

#bottoneLogin{
  color: white;
  background-color: #1d2345;
  border: 0.1em solid;
  border-color: black;
}
/*presente anche lo zoomer delle immagini*/
#contenitoreLogin, .divZoom{
  display:none;
  position:fixed;
  z-index: 3;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
}

#contenitoreLogin{
  background-color: rgba(0,0,0,0.4);
  padding-top: 5em;
}

.divZoom{
  padding-top: 1em;
  background-color: rgba(0,0,0,0.9);
}

#formLogin{
  position: relative;
  background-color: whitesmoke;
  max-width: 25em;
  margin:auto;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  top:3em;
  /*animazione zoom*/
  -webkit-animation: zoom 0.6s;
  animation: zoom 0.6s;
  box-shadow: 0em 1em 2em 0em rgba(0,0,0,0.2);
}

#formLogin >fieldset{
  position: relative;
}
#formLogin > fieldset > div{
  display: block;
}

#formLogin > fieldset > div > span{
  display: block;
}


@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}


#chiusuraLogin,#chiusura{
  position: absolute;
  right: 0.1em;
  top:0;
  font-size: 2.5em;
  font-weight:bold;
  transition: 0.3s;
}
#chiusura{
  color: whitesmoke;
}
#chiusuraLogin{
  color:black;
}

#chiusuraLogin:hover , #chiusuraLogin:focus, #chiusura:hover, #chiusura:focus{
  color:rgb(217, 5, 5);
  cursor:pointer;
  text-decoration: none;
}

.defaultInputForm{
  color: gray;
}

.erroreInputForm{
  color: rgb(217, 5, 5);
  margin:auto;
}



.contenutoImmagine{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 70em;
}

#altImmagine{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 70em;
    text-align: center;
    color: whitesmoke;
    padding: 1em 0;
    height: 10em;

}

.contenutoImmagine, #altImmagine {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*menuBR*/


#breadcrumb{
  display: inline-block;
  vertical-align: middle;

}

#breadcrumb > p{
  display: inline-block;
  margin: 0em;
  margin-bottom: 1em;
}
/*body*/
#body > p{
  text-align: center;
}
/*footer*/
#footer{
  left: 25%;
  width: auto;
  height: auto;
  background-color: whitesmoke;
  overflow: auto;
}

#footer > div{
  display: block;
  position: relative;
  float: left;
  text-align: center;
  color: dimgray;
}

#footer > div > p{
  position: relative;
}

#footer > div > ul > li{
  color: black;
}

#footer > div > ul > li > a{
  color: black;
  text-decoration: none;
}
 #divListaGioielli{
   text-align: center;
 }

/*index*/
/*slider*/
#slider{
  max-width: 700px;
  margin:auto;
}
/*Bottoni Slider*/

.sliderBottoni{

  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #000;
  position: relative;
  overflow: hidden;
  z-index: 2;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2.5em;
  /*Grandezza Bottoni*/
  width: 1em;
  height: 1em;
  line-height: 1em;
  /*Transizione*/
  -webkit-transition-duration:0.4s; /*per safari*/
  transition-duration:0.4s;
}
.sliderBottoni:hover{
  background-color: rgb(60, 60, 66);
  color: white;
}
.bottoneSinistro{
  position:absolute;
  top:50%;
  left:0%;
  transform: translate(0%,-50%);
}
.bottoneDestro{
  position:absolute;
  top:50%;
  right:0%;
  transform: translate(0%,-50%);
}

/*ContenitoreSlider*/
.slider{
  position: relative;
  display: block;
}
.sliderImmagine{
  padding: 0;
  width: 100%;

}
.sliderTesto{
  display: flex;
  align-items: center;
  font-size: 1.3em;
  position: absolute;
  top: 0;
  text-align: center;


  z-index: 1;
  background-color: rgba(224, 222, 223,0.5);
  width: 40%;
  height: 100%;
  color: black;
}

.sliderTesto > div{
  width: 100%;

}

.sliderTesto > p{
  margin: 0.5em;
}

.sliderSX{
  left: 0;
}

.sliderSX > div > p{
  margin-left: 1.5em;
}

.sliderDX{
  right:0;
}

.sliderDX > div > p {
  margin-right: 1.5em;
}



#indexCollezioni, #indexGioielli{
  text-align: center;
}

#indexCollezioni > ul > li{
  display: inline-block;
  margin: 1em;
}
/*Informazioni*/
#divInformazioni{
  padding: 5em 0em;
  margin: auto;
  position: relative;
  overflow: hidden;
  text-align: center;
}

#contatti{
  text-align:left;
  margin:0;
  padding: 1em;
  display: inline-block;
}
#storia{
  height: 100%;
  text-align:left;
  margin:0;
  padding: 0;
  display: inline-block;
}

/*Login.html/Registrazione.html*/
#loginPage, #registrazionePage, #loginAdminPage{
  margin: auto;
  max-width: 15em;
  margin-bottom: 2em;
}
#Ins{
    margin: auto;
  max-width: 35em;
    margin-bottom: 2em;
}

#loginPage > fieldset > div > span, #registrazionePage > fieldset > div > span, #loginAdminPage > fieldset > div > span,
#Ins > form > fieldset > div > span{
  display: block;
}

#registrazionePage > fieldset > div > label > textarea, #Ins > form > fieldset > div > label > textarea{
  width: 15em;
  height: 10em;
  display: block;
}

#Ins > form > fieldset > div{
  margin: 0.5em;
}

#Ins > form > fieldset > div > label > span {
  display: block;
}

#parourSelezione{
  display: inline-block;
}
/*lista_gioielli*/
#menuGioielli{
  padding: 2em;
  margin: 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: block;
}


.active{
  text-decoration: none;
  color: white;
  background-color: dimgray;
}
.Esclusiva{
  border: 0.3em solid;
  border-color: #FFD700;
}

#menuGioielli > li{
  text-align:left;
  margin: 0.5em;
  padding: 1em;
  display: inline-block;
}

#menuGioielli > li:not(.active){
  background-color: whitesmoke;
}

#menuGioielli > li:not(.active) > a{
  text-decoration: none;
  color: black;
}

#menuGioielli > li > a {
  padding: 1em;

}

#menuGioielli > li:hover{
  background-color: dimgray;
  color: white;

}


#menuGioielli > li > a:hover{
  background-color: dimgray;
  color: white;
  text-decoration: none;
}

#menuOrdinamento{
  padding: 1em;
  margin: 0;
  position: relative;
  overflow: hidden;
  text-align: center;
}
#menuOrdinamento > li{
  text-align:left;
  margin:1em;
  padding: 1em;
  display: inline-block;
  background-color: whitesmoke;
}
#menuOrdinamento > li > a{
  margin: 0.5em;
  padding: 1em;
  text-decoration: none;
  color: black
}

#menuOrdinamento > li > a:hover{
  background-color: dimgray;
  color: white;
}
#titolo{
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
}


#h1Collezione{
  margin: auto;
  line-height: 1em;
  vertical-align: middle;
}

#listaGioielli, #listaCollezioni{
    overflow: hidden;
    margin: auto;
    margin-top: 0;
    padding: 3em;
    position: relative;
    text-align: center;
}

.elementoGioielli, .elementoCollezione{
  display: block;
  margin: 0.5em;
  padding: 0;
  text-align: center;
  display: inline-block;
}

.elementoGioielli > a > img{
  width: 20em;
  height: 20em;
}

.elementoGioielli > div{
  display: block;
}

#numeriFondoPagina{
  text-align: center;
}

.elementoNumeroGioiello{
  display: inline-block;
  margin: 0.3em;
  padding: 0.5em;
}

.elementoNumeroGioiello:not(.active){
  background-color: whitesmoke;
}

.elementoNumeroGioiello > a, .elementoNumeroGioiello > span{
  padding: 0.5em;
}



/*collezione*/
#contenitoreCollezione{
  position: relative;

  margin-bottom: 3em;

}
#contenitoreCollezione > img{
  height: 50%;
    width: 70%;
    margin: auto;
    display: block;
}
#titoloCollezione{
  display: block;
  overflow: hidden;
  text-align: center;
}
/*Barra ricerca*/
#areaRicerca{
  max-width: 700px;
  margin: auto;

  display: block;
  position: relative;
  text-align: left;
  padding: 3em;
}
#spazioDiRicerca{
  position: absolute;
  top: 0;
  right: 0;
}
#spazioDiRicerca > form{
  position: relative;
}
 #spazioDiRicerca > form > span{
   position: absolute;
   display: block;
   top: 0;
   left:4em;
 }
#spazioDiRicerca > form > fieldset > div > label > input{
  display: inline-block;
}
/*gioiello*/
#immagineCaratteristiche{
  text-align: center;


}
#immagine{
  text-align: center;
  display: inline-block;
  margin: auto;
  vertical-align: middle;

}

#caratteristiche{
  vertical-align: middle;
  text-align: center;
  display: inline-block;

}
#caratteristiche >ul{
  list-style-type:none;
  text-align: left;
}
#descrizione{
  text-align: center;
}

#collezione >li  > a > img, #parour > li > a > img, #tipologia > li > a > img,
 #materiale > li > a > img, #pietra > li > a > img{
  width:20em;
}
#gioielloCollezione, #gioielloparour, #gioielloTipologia, #gioielloMateriale, #gioielloPietra{
  text-align: center;
}
#collezione > li, #parour > li, #tipologia > li, #materiale > li, #pietra > li{
  display: inline-block;
  margin: 1em;
}

/*404*/
#Errore404, #privacy{
  margin: 0;
  padding: 1em;
  position: relative;
  overflow: hidden;
  text-align: center;
}

#Errore404 > img{
  display: inline-block;
  vertical-align: middle;
}
#Errore404 > div{
  margin: 0;
  padding: 2em;
  display: inline-block;
  vertical-align: middle;
}


#privacy > p{
  position:relative;

  max-width: 60em;
}

/*Sezione Dedicata*/

.container {
  padding: 0;
  margin: 1em 0em;
  overflow: hidden;
  text-align: center;
}

.dropdown {
  text-align: left;
  padding: 1em 0.1em;
  margin: 0em;
  display: inline-block;
}

.dropbtn {
  color: black;
  background-color: whitesmoke;
  border: 0.1em solid;
  border-color: black;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: dimgray;
  color: white;
}

.dropdown-content {
  position: absolute;
  background-color: whitesmoke;
  min-width: 0.5em;
  box-shadow: 0em 1em 2em 0em rgba(0,0,0,0.2);
  border: 0.1em solid;
  border-color:  black;
  z-index: 2;
  overflow: hidden;
}

.dropdown-content > a {
  color: black;
  padding: 1em;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content > a:hover, .dropdown-content > a:focus {
  background-color: dimgray;
  color: white;
}

.show {
  display: block;
}


#listaEliminazione{
  overflow: hidden;
  margin: auto;
  margin-top: 0;
  padding: 3em;
  position: relative;
  text-align: center;
}

.elementoEliminazione{
  text-align: left;
  margin: 0.5em;
  padding: 0;
  display: inline-block;
}

#eliminaDiv{
  overflow: hidden;
  margin: auto;
  margin-top: 0;
  padding: 0 6em ;
  position: relative;
  text-align: center;
  max-width: 700px;
}

#eliminaLabel{
  float: right;
}

#divBottoni{

  position: relative;
   margin: auto;
   padding: 3em;
   text-align: center;
   overflow: hidden;
}
#divBottoni > button{
  text-align: center;
  display: block;
  position: relative;
  text-decoration: none;
  border: 0.1em solid;
  color: white;
background-color: #1d2345;
  margin: 1em auto;
  padding: 0.5em 1em;
}

#eliminaLabelButton, #submitModG, #resetModG, #submitModC, #resetModC, #eliminaD,
#eliminaM, #eliminaP, #eliminaU, #eliminaG, #eliminaC, #submitInsC, #resetInsC,
 #submitInsG, #resetInsG, #submitInsM, #resetInsM, #submitInsP, #resetInsP, #submitInsD,
 #resetInsD {
  margin:0;

  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  border: 0.1em solid;
  color: white;
background-color: #1d2345;
}
.modificaGiol, .modificaColl{
  padding: 0.6em;
  text-decoration: none;
  border: 0.1em solid;

}

.italic{
  font-style: italic;
}
/*media screen*/
@media only screen and (max-width:480px) {
  /*header*/

  #logo{
    width: 80%;
    height: 80%;
  }

  /*menu*/
  #menu > ul{
    padding: 0;
  }

  #menu > ul > li{
    display: block;
    padding: 1em 0em;
  }

  #menu > ul > li > a{
    padding:1em 8em;
  }

  /*areaLoginRegistrazione*/
  #login, #registrazione, #logout{
    padding: 1em;
  }

  #bottoneLogin, #bottoneRegistrazione{
    padding: 1em 5em;
  }
  #bottoneRegistrazione{
    border: 0.1em solid;
  }
  /*Sezione dedicata*/
  #ulAdmin > li:last-child > div{
    right: 2em;
  }
  /*footer*/

  #validitaSito{
    position: absolute;
    height: 0;
    overflow: hidden;
  }

  #footer > div{
    align-content: center;
  }

  #footer div > p{
    margin-top: 0.5em;
    margin-bottom: 0.2em;
  }

  #footer > div > ul {
    margin: auto;
  }
  #footer > div > ul > li{
    position: relative;
    float: left;
    right: 3%;
    display: block;
    padding: 0.2em 0.3em;
  }

  /*index*/
  .sliderTesto > p{
    font-size: 1em;
    margin-top: 3em;
  }

  /*Informazioni*/
  #storia{
    width:70%;
  }
  /*gioiello*/
  #immagine > img{
    width:20em;
    height: 20em;

  }

  #Ins{
    margin: 0;
  }
}

/*Sitemap*/
#ulMap{
  display:table;
  margin:1em auto;
}

@media only screen and (min-width: 481px) and (max-width: 768px){
  /*areaFissata*/
  #logo{
    width: 40%;
    height: 40%;
  }

  #menu{
    text-align: center;
    display:block;
    position: relative;
  }

  #menu > ul > li{
    padding: 1em;
    margin: 0;
  }

  #menu > ul > li > a{
    padding: 1em 0.5em;
    text-align: center;
  }

  #areaLoginRegistrazione{
    display: block;
  }

  #login, #registrazione, #logout{
    padding: 0.5em;
  }

  #bottoneLogin, #bottoneRegistrazione{
    padding: 0.7em ;
  }


  /*Informazioni*/
  #storia{
    width: 60%;
  }
  /*gioiello*/
  #immagine > img{
    width:30em;
    height: 30em;
  }



}

@media only screen and (min-width:481px){
  /*menu*/
  #menu{
    margin: 0;
  }

  #menu > ul {
    padding: inherit;
  }

  #menu > ul > li{
    display: inline-block;
  }
  /*footer*/
  #footer > div > ul > li{
    list-style-type: none;
  }

  #footer > div >p{
    left: 10%;
  }
}

@media only screen and (min-width: 769px){
  /*areaFissata*/
  #areaFissata{
    max-width: 1600px;
    padding: 0;
    overflow:hidden;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 3;
  }

  /*header*/
  #header{
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    height: 20%;
    padding: 0;
    margin:0;
  }

  #logo{
    width: 100%;
    height: 100%;
    margin: 0;
  }

  /*menu*/
  #menu{
    padding: 1em;
    vertical-align: middle;
    display: inline-block;
  }

  #menu > ul > li{
    float: left;
    padding: 0.5em;
  }

  #menu > ul > li > a{
    padding: 0.5em 0;
  }

  /*areaLoginRegistrazione*/
  #areaLoginRegistrazione{
    margin: 2em 1em;
    vertical-align:middle;
    display: inline-block;
  }

  #bottoneLogin, #bottoneRegistrazione{
    padding: 1em 1em;
  }

  /*gioiello*/
  #immagine > img{
    width:35em;
    height: 35em;
  }
}

@media only screen and (max-width:768px){
  #logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #menu > ul > li > a{
    margin: 0;
  }

  #areaLoginRegistrazione{
    margin: 0;
  }

  #login, #registrazione,  #logout{
    margin: 0;
  }

  #indexCollezioni > a > img, #indexGioielli > a > img{
    max-width: 15em;
    max-height: 15em;
  }
}

/*smartphone piccoli*/
@media only screen and (max-width: 320px) {

}
/*smartphone piccoli modalità portrait*/
@media only screen and (min-width: 321px) and (max-width: 480px){

}

/*tablet piccoli modalità portrait*/
@media only screen and (min-width:481px) and (max-width: 600px){
  /*footer*/
  #footer > div{
    left:24%;
  }

  /*index*/
  .sliderTesto > p{
    margin-top: 2em;
  }

}

/*tablet piccoli*/
@media only screen and (min-width:601px) and (max-width: 768px){
  /*footer*/
  #footer > div{
    left:28%;
  }

  /*index*/
  .sliderTesto > p{
    margin-top: 5em;
  }


}

@media only screen and (min-width:481px) and (max-width:768px){
  .sliderTesto > p{
    font-size: 1.5em;
  }
}

/*piccoli desktop*/
@media only screen and (min-width:769px) and (max-width: 1024px){
  /*body*/
  #body{
    margin-top: 14em;
  }
  /*footer*/
  #footer > div{
    left:30%;
  }

  /*index*/
  .sliderTesto > p{
    margin-top: 6em;
  }

  #indexCollezioni > a > img, #indexGioielli > a > img{
    max-width: 18em;
    max-height: 18em;
  }

  /*Informazioni*/
  #storia{
    width:50%;
  }

}

@media only screen and (min-width:769px){
  .sliderTesto > p{
    font-size: 1.9em;
  }


}

@media only screen and (min-width:1025px) and (max-width: 1200px){
  /*areaFissata*/
  #rigaUnica,  #breadcrumb{ /*#breadcrumb*/
    left: 10%;
  }
  /*body*/
  #body{
    margin-top:16em;
  }
  /*Informazioni*/
  #storia{
    width: 38%;
  }

  #privacy > p{
    left:10%;
  }
}

@media only screen and (min-width:1025px){
  #rigaUnica, #breadcrumb{
    position: relative;
  }

  /*footer*/
  #footer > div{
    left:40%;
  }

  /*index*/
  .sliderTesto > p{
    margin-top: 8em;
  }

  /*index*/
  #indexCollezioni > a > img, #indexGioielli > a > img{
    max-width: 25em;
    max-height: 25em;
  }


}

@media only screen and (min-width: 1201px) {
/*header*/
#rigaUnica, #breadcrumb{
  left: 25%;
}
/*body*/
#body{
  margin-top:20em;
}

/*Informazioni*/
#storia{
  width: 30%;
}

#privacy{
  left: 25%;
}

}
