<a href='#footer' class='salto'>Salta il corpo della pagina e vai al <span xml:lang='en'>footer</span></a>
<a href='#menu' class='salto'>Ritorna al menu</a>
<div id="Errore404">
    <img src="img/505.jpg" alt="Immagine gioiello rotto" />
    <div>
        <p>
            OPS... Il server ha incontrato delle difficoltà.
        </p>
        <p>
            Ritorna alla <a href="index.php">Home</a> oppure guarda i nostri bellissimi <a href="lista_gioielli.php">Gioielli</a>.
        </p>
        <p>
            E se vuoi ci sono anche le nostre fantastiche
            <a href="lista_collezioni.php">Collezioni</a>.
        </p>
    </div>
</div>
