    <div id="slider" class="slider">
            <span class="sliderBottoni bottoneSinistro" id="bottoneSinistro" ><abbr title="freccia slider sinistra">&#10094;</abbr></span>
            <span class="sliderBottoni bottoneDestro" id="bottoneDestro"><abbr title="freccia slider destra">&#10095;</abbr></span>

            <div class="slider sliderJS">
                <img class="sliderImmagine" src="img/Gioielli.jpg" alt="Un bracciale, una collana e due anelli in diamanti" width="700px" height="400px"/>
                <div class="sliderTesto sliderSX">
                  <div>
                    <p>
                        Gioielli artigianali di qualità eccelente
                    </p>

                  </div>

                </div>
            </div>
            <div class="slider sliderJS">
                <img class="sliderImmagine" src="img/gioielleria-perle.jpg" alt="Gioiello in perle" width="700px" height="400px" />
                <div class="sliderTesto sliderDX">
                  <div>
                    <p>
                        Un gioiello si riconosce se è fatto in Italia
                    </p>
                  </div>

                </div>
            </div>
            <div class="slider sliderJS">
                <img class="sliderImmagine" src="img/handshake.jpg" alt="Stretta di mano professionale tra due persone" width="700px" height="400px"  />
                <div class="sliderTesto sliderSX">
                    <div>
                      <p>
                          Lavoriamo a livello buisness to buisness, cercando di offrire il massimo possibile
                      </p>
                    </div>
                </div>
            </div>
        </div>
