        <div id="divInformazioni">
            <h2>Informazioni</h2>
            <div id="contatti">
                <a href="#storia" class="salto">Salta i contatti e vai a storia</a>
                <a href="#menu" class="salto">Ritorna al menu</a>
                <h2>Contatti</h2>
                <ul>
                    <li><strong>Sede Legale e Amministrativa</strong>: <a href="https://goo.gl/maps/xTV6nxxiSEm" id="linkNewTab0">Via G. Maganza, 77, Vicenza VI</a></li>
                    <li><strong>Laboratorio</strong>: <a href="https://goo.gl/maps/sYWXzStZh8v" id="linkNewTab1">Via B. Brandellero, 8, Vicenza VI</a></li>
                    <li><strong>Numero di telefono</strong>: +39 339 8067765 / +39 342 5569885</li>
                    <li><strong xml:lang="en">E-mail</strong>: al.jo.gioielli@gmail.com</li>
                </ul>
                <h2>Informazioni aggiuntive</h2>
                <ul>
                    <li><strong>Partita <abbr title="Imposta sul Valore Aggiunto">IVA</abbr></strong>: 03076030240</li>
                    <li><strong><abbr title="Camera di Commercio, Industria, Artigianato e Agricoltura">CCIAA</abbr> / Codice Fiscale</strong>: 03076030240</li>
                    <li><strong><abbr title="Repertorio Economico Amministrativo">REA</abbr></strong>: 296898</li>
                </ul>
            </div>
            <div id="storia">
              <a href="#footer" class="salto">Salta la storia e vai al <span xml:lang="en">footer</span></a>
              <a href="#menu" class="salto">Ritorna al menu</a>
                <h2>Storia dell' azienda</h2>
                <p>
                    I soci, provenienti da una pluridecennale esperienza di attività orafa vicentina, hanno fondato nel 2003 un piccolo laboratorio con l'intento di perseguire una lavorazione esclusivamente artigianale per tramandare e valorizzare la loro professionalità
                    manuale.
                </p>
                <p>
                    Avvalendosi anche di collaborazioni esterne, la lavorazione di metalli preziosi quali oro e argento è proseguita nel tempo seguendo le tendenze della moda. L'attività di creazione di nuovi gioielli artigianali, ha portato l'azienda a sperimentare altri
                    materiali quali il bronzo galvanizato. L'arrichimento del modello è ricercato attraverso l'inserimento di pietre semi preziose, tessuti, ceramica e quant'altro porti creatività e qualità Made in Italy.
                </p>
            </div>
        </div>
