<div id="privacy">
  <a href="#menu" class="salto">Ritorna al menu</a>
  <a href="#saltaParagrafo1" class="salto">Salta il Paragrafo</a>
    <p>Un <span xml:lang="en">cookie</span> è un <span xml:lang="en">file</span> di piccola dimensione inviato al tuo dispositivo dal sito <span xml:lang="en">web</span> per consentire di memorizzare informazioni sul comportamento di navigazione e per riconoscere il tuo dispositivo la prossima volta che visiti il sito. Esistono
        diversi tipi di <span xml:lang="en">cookies</span> (<em>ad esempio tecnici, di preferenza, di profilazione, analytics</em>) e tutti scadono dopo un periodo definito. I <span xml:lang="en">cookies</span> ci aiutano anche a mantenere protetto il sito. Lo scopo principale dei <span xml:lang="en">cookie</span> da noi implementati
        è far funzionare più efficientemente il sito <span xml:lang="en">web</span> e abilitarne determinate funzionalità.</p>
    <a href="#menu" class="salto" id="saltaParagrafo1">Ritorna al menu</a>
    <p ><strong>Perché utilizziamo i <span xml:lang="en">cookies</span>?</strong></p>

    <a href="#saltaParagrafo2" class="salto">Salta il Paragrafo</a>
    <p>Utilizziamo i <span xml:lang="en">Cookies</span> per tracciare la visita, in modo da adattare il sito alle tue esigenze e aumentarne l’usabilità: tutto ciò non sarebbe possibile senza utilizzare alcun <span xml:lang="en">cookie</span>.</p>
    <p>La nostra&nbsp;<strong>Policy <span xml:lang="en">Cookies</span><em>&nbsp;</em></strong>risponde a quanto stabilito dalla normativa emessa il giorno 8 Maggio 2014 dal Garante della <span xml:lang="en">Privacy</span> (<q>Individuazione delle modalità semplificate per l’informativa e l’acquisizione del consenso per l’uso dei <span xml:lang="en">cookies</span></q>).</p>
    <p>Ti rammentiamo che i <span xml:lang="en">Cookies</span> utilizzati su&nbsp;<strong>www.aljogioielli.com</strong>&nbsp;non sono impiegati per raccogliere informazioni personali relative all’utente, ma solamente dati statistici e aggregati, raccolti con il solo scopo
        di migliorare la navigazione globale.</p>
        <a href="#menu" class="salto" id="saltaParagrafo2">Ritorna al menu</a>
    <p ><strong>Tipologie di <span xml:lang="en">cookie</span> utilizzati:</strong></p>

    <a href="#saltaParagrafo3" class="salto">Salta il Paragrafo</a>
    <p><strong><em>Session <span xml:lang="en">cookies</span>:</em></strong>&nbsp;si attivano per consentirti di navigare il sito in maniera&nbsp;<em xml:lang="en">user-friendly&nbsp;</em>ed ottimizzare l’esperienza di navigazione. Questo genere di <span xml:lang="en">cookies</span> si cancellano automaticamente
        quando chiudi il tuo browser.</p>
    <p><strong><em>Preference <span xml:lang="en">cookies</span>:</em></strong>&nbsp;sono <span xml:lang="en">cookies</span> che permettono al sito <span xml:lang="en">web</span> di memorizzare informazioni che modificano il comportamento o l’aspetto del sito stesso. L’assenza di questo genere di <span xml:lang="en">cookies</span> non dovrebbe comprometterne
        il funzionamento, ma potrebbe rendere meno funzionale l’esperienza sul sito <span xml:lang="en">web</span>.</p>
    <p><strong><em>Google <span xml:lang="en">analytics</span>:</em></strong>&nbsp;sono utilizzati per generare dati sulle statistiche di utilizzo del sito (<em>senza raccogliere informazioni personali sui singoli visitatori</em>). Per maggiori informazioni ti invitiamo a
        visionare<a href="https://www.google.com/analytics/learn/privacy.html?hl=it">&nbsp;https://www.google.com/analytics/learn/privacy.html?hl=it</a>&nbsp;. Per disabilitare questo genere di&nbsp;<em xml:lang="en">cookies</em>, puoi scaricare il componente
        aggiuntivo per la disattivazione di Google <span xml:lang="en">Analytics</span>. Visita<a href="https://tools.google.com/dlpage/gaoptout">&nbsp;https://tools.google.com/dlpage/gaoptout</a>.</p>
    <p><strong><em><span xml:lang="en">Cookies</span> pubblicitari e di terzi:&nbsp;</em></strong>sono inclusi i<strong><em>&nbsp;</em></strong><span xml:lang="en">cookies</span> utilizzati per fornire annunci pubblicitari in base ai tuoi interessi. Sono <span xml:lang="en">cookies</span> altresì utilizzati per calcolare l’efficacia
        di una campagna pubblicitaria. Possono essere anche <span xml:lang="en">cookies</span> di terze parti. I <span xml:lang="en">cookies</span> di questo tipo vengono utilizzati per raccogliere informazioni sull’utilizzo del sito <span xml:lang="en">web</span> da parte dei visitatori, quali parole chiave sono state usate
        per raggiungere il sito, quali siti <span xml:lang="en">Web</span> sono stati visitati, l’origine del traffico da cui provengono i visitatori per le campagne di <span xml:lang="en">marketing</span>. Il Titolare può utilizzare tali informazioni per compilare rapporti e migliorare il proprio
        sito. Ti invitiamo a consultare direttamente i siti <span xml:lang="en">internet</span> di terzi per informazioni sulle tipologie di <span xml:lang="en">cookies</span> da loro utilizzati.</p>
          <a href="#menu" class="salto" id="saltaParagrafo3">Ritorna al menu</a>
    <p >Gestione dei <span xml:lang="en">Cookies</span>: attivazione e disattivazione</p>

    <a href="#footer" class="salto">Salta il Paragrafo e vai al <span xml:lang="en">footer</span></a>
    <p>Se non desideri abilitare i&nbsp;<em xml:lang="em">cookies&nbsp;</em>sul dispositivo, ti informiamo che, per motivi di natura tecnica, la tua esperienza di navigazione risulterà limitata. Comunque, puoi gestire in qualsiasi momento le autorizzazioni e disattivare
        i <span xml:lang="en">cookies</span> attraverso le impostazioni del tuo <span xml:lang="en">browser internet</span>.</p>
    <p><strong>Google <span xml:lang="en">Chrome</span></strong></p>
    <p>Nel menu Impostazioni, selezionare “mostra impostazioni avanzate” in fondo alla&nbsp;&nbsp;pagina</p>
    <p>Selezionare “contenuto impostazioni” nella sezione <span xml:lang="en">privacy</span></p>
    <p>La sezione in alto alla pagina che appare successivamente consente di selezionare i <span xml:lang="en">cookies</span> desiderati. Qui è possibile anche cancellare i <span xml:lang="en">cookies</span> archiviati.</p>
    <p><strong>Safari</strong></p>
    <p>Nel menu impostazioni, selezionare opzione “Preferenze”</p>
    <p>Aprire “<span xml:lang="en">Privacy</span>”</p>
    <p>Selezionare l’opzione che si desidera attivare dalla sezione “Blocco <span xml:lang="en">cookies</span>”</p>
    <p><strong>Mozilla Firefox</strong></p>
    <p>Nel menu Strumenti, selezionare “opzioni”</p>
    <p>Selezionare il tasto “<span xml:lang="en">privacy</span>” nella cartella “opzioni”</p>
    <p>Dal menu scegliere “impostazioni cronologia”: qui si visualizzano le opzioni per i <span xml:lang="en">cookies</span> e si può scegliere di abilitarli o disabilitarli.</p>
    <p><strong xml:lang="en">Internet Explorer</strong></p>
    <p>Nella barra dei menu, selezionare “Opzioni <span xml:lang="en">Internet</span>”</p>
    <p>Selezionare il tasto “<span xml:lang="en">Privacy</span>”</p>
    <p>Visualizzerete il cursore delle “impostazioni <span xml:lang="en">privacy</span>” con le sei impostazioni che consentono di controllare il numero dei <span xml:lang="en">cookies</span> che saranno posizionati: Blocca tutti i <span xml:lang="en">Cookies</span>, Alta, Media alta, Media (livello predefinito), Bassa, e Accetta
        tutti.</p>
    <p><strong>Opera</strong></p>
    <p>Aprire la sequenza<strong>&nbsp;</strong>Preferenze &gt; Avanzate &gt; <span xml:lang="en">Cookie</span></p>
    <p>In questa sezione, le impostazioni permettono di configurare la gestione dei <span xml:lang="en">cookie</span> in Opera tra:</p>
    <p>Accetta i <span xml:lang="en">cookie</span></p>
    <p>Accetta i <span xml:lang="en">cookie</span> solo dal sito che si visita</p>

    <p >Non accettare mai i <span xml:lang="en">cookie</span></p>


    <p>"<abbr title="Nota Bene">N.B.</abbr>: L’impostazione predefinita prevede di accettare tutti i <span xml:lang="en">cookie</span>.</p>
    <p><strong>Gestione dei <span xml:lang="en">cookie</span> in Opera</strong></p>
    <p>Il gestore dei <span xml:lang="en">cookie</span> permette di esaminare e modificare i <span xml:lang="en">cookie</span> salvati in Opera. Il tasto “<em>Gestione dei <span xml:lang="en">cookie</span>…”,&nbsp;</em>apre una finestra contenente un elenco di cartelle, ognuna identificata da un dominio. Dopo aver utilizzato
        il campo di ricerca veloce per localizzare un dominio, aprire la relativa cartella per visualizzare tutti i <span xml:lang="en">cookies</span> a esso connessi.</p>

</div>
