
<div id ="menuSD">
<a href="#saltaMenuSezDed" class="salto">Salta il menu di sezione dedicata</a>
<a href="#menu" class="salto">Ritorna al menu</a>
<a class="mostra"></a>
<div class="container"><div class="dropdown">
    <button class="dropbtn DB0">Inserisci</button>
    <div class="dropdown-content" id="myDropdown0">
      <a href="inserimenti.php?ins=gioielli" tabindex="0">Inserisci Gioiello</a>
      <a href="inserimenti.php?ins=collezioni">Inserisci Collezione</a>
      <a href="inserimenti.php?ins=dim">Inserisci Dimensione</a>
      <a href="inserimenti.php?ins=mat">Inserisci Materiale</a>
      <a href="inserimenti.php?ins=ptr">Inserisci Pietra</a>
    </div>
  </div><div class="dropdown">
    <button class="dropbtn DB1">Modifica/Rimuovi</button>
    <div class="dropdown-content" id="myDropdown1">
      <a href="lista_gioielli.php">Modifica/Rimuovi Gioiello</a>
      <a href="lista_collezioni.php">Modifica/Rimuovi Collezione</a>
      <a href="modifica.php?del=dim">Rimuovi Dimensione</a>
      <a href="modifica.php?del=mat">Rimuovi Materiale</a>
      <a href="modifica.php?del=ptr">Rimuovi Pietra</a>
      <a href="modifica.php?del=ute">Rimuovi Utente</a>
    </div>
  </div><div class="dropdown">
    <button class="dropbtn DB2">Esclusive</button>
    <div class="dropdown-content" id="myDropdown2">
      <a href="aggiornaEsclusive.php">Aggiorna Esclusive</a>
    </div>
  </div>
</div>
<span id="saltaMenuSezDed" class="salto"></span>
</div>
